<div class="card">
  <div class="card-header">
    Template Driven Form
  </div>

  <div class="card-body">
    <form novalidate (ngSubmit)="submit()" [formGroup]="empForm">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="nameId">Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="nameId"
                 type="text"
                 placeholder="Name (required)"
                 formControlName="name"
                 [ngClass]="{'is-invalid': empForm.get('name').errors?.required && (empForm.get('name').touched || empForm.get('name').dirty)}" />
          <span class="invalid-feedback">
            Name is required
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="emailId">Email</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="emailId"
                 type="text"
                 placeholder="Email (required)"
                 formControlName="email"
                 [ngClass]="{'is-invalid': false}" />
          <span class="invalid-feedback">
            error
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="confirmEmailId">Confirm Email</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="confirmEmailId"
                 type="text"
                 placeholder="Confirm Email (required)"
                 formControlName="confirmEmail"
                 [ngClass]="{'is-invalid': false}" />
          <span class="invalid-feedback">
            error
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">

        <label class="col-md-2 radio-inline control-label">Gender</label>

        <div class="col-md-8">
          <div class="form-check form-check-inline">
            <label>
              <input class="form-check-input"
                     value="male"
                     type="radio"
                     name="gender"
                     formControlName="gender"
                     [ngClass]="{'is-invalid': false}" /> Male
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label>
              <input class="form-check-input"
                     value="female"
                     type="radio"
                     name="gender"
                     formControlName="gender"
                     [ngClass]="{'is-invalid': false}" /> Female
            </label>
          </div>
          <span class="invalid-feedback">
            error
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 radio-inline control-label">Is Active Employee</label>

        <div class="col-md-8">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" formControlName="isActive">
            <label class="form-check-label" for="gridCheck">
              Is Active
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="exampleFormControlSelect1" class="col-form-label col-md-2">Example select</label>
        <div class="col-md-8">
          <select class="form-control" id="exampleFormControlSelect1" formControlName="country">
            <option value="-1" selected hidden>Please select</option>
            <option *ngFor="let country of countries" [ngValue]= "country.id">{{country.name}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  style="width:80px;"
                  type="submit"
                  [title]="false ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="true">
            Save
          </button>
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px;"
                  type="button"
                  title="Cancel your edits" routerLink="/">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-success">
    form is {{empForm.value | json}}
  </div>
</div>
